<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Putin's Webpage</title>
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<meta name="viewport content=" width=device-width, initialscale=1" />
</head>

<body>
	<header>
		<h1>Putin's Webpage ☭</h1>
	</header>

	<nav>
		<ul><a href="/">
				<li>Home</li>
			</a><a href="/blog">
				<li>Blog</li>
			</a><a href="/projects">
				<li>Projects</li>
			</a><a href="/contact">
				<li>Contact</li>
			</a><a href="/donate">
				<li>Donate</li>
			</a>
		</ul>
	</nav>

	<main>
		<img class="resright"
			src="https://i.dailymail.co.uk/1s/2019/10/31/10/20416134-7634351-Vladimir_Putin_pictured_in_his_KGB_uniform_in_the_1980s_Newly_re-a-28_1572516369328.jpg"
			alt="Luke" title="Luke">

		<h2>Stuff I've worked on</h2>
		<dl style="font-size:large">
			<dt><a href="https://videos.lukesmith.xyz/">Videos</a></dt>
			<dd> Or watch them on <a href="https://odysee.com/$/invite/@Luke:7">Odysee</a> or <a
					href="https://youtube.com/c/lukesmithxyz">YouTube</a>.</dd>
			<dd> My installable GNU/Linux dotfiles running <a href="https://suckless.org/">suckless software</a> on <a
					href="https://artixlinux.org/">Artix Linux</a></dd>
			<dd> My Podcast on numerous actually important topics. See this if new.</dd>
			<dd> A tutorial site to help you set up your own website and self-hosted services.</dd>
			<dt><a href="https://based.cooking/">Based.Cooking</a></dt>
			<dd> A minimalist, adfree and unintrustive recipe website I maintain now.</dd>
			<dt class="new"><a href="https://lindypress.net/">LindyPress.Net</a></dt>
			<dd>Reprinted, reinvigorated and hard-to-find classical and medieval works.</dd>
		</dl>

		<h2 style="clear:both;">Writings</h2>

		<div class="column">
			<h3>Recent Articles</h3>
			<ul style="padding:0">
				<!--BLOG-->
				<li>14 Nov – <a href="https://lukesmith.xyz/c/important-notes-for-larbs-users.html">Important notes for
						LARBS users</a></li>
				<li>03 Sep – <a href="https://lukesmith.xyz/c/obscenities-are-symptoms-of-weak-minds.html">Obscenities
						are symptoms of weak minds.</a></li>
				<li>28 Aug – <a href="https://lukesmith.xyz/articles/every-web-browser-absolutely-sucks.html">Every Web
						Browser Absolutely Sucks.</a></li>
				<li>13 Aug – <a
						href="https://lukesmith.xyz/articles/bringing-back-oldschool-web-pins-and-buttons.html">Bringing
						back old-school web pins and buttons</a></li>
				<li>29 Jul – <a
						href="https://lukesmith.xyz/articles/important-lindypress-undergoing-some-updates.html">Important:
						LindyPress undergoing some updates</a></li>
				<li>23 Jul – <a href="https://lukesmith.xyz/articles/youtube-stream-now.html">YouTube stream now</a>
				</li>
				<li>22 Jul – <a
						href="https://lukesmith.xyz/articles/the-classical-book-reprinting-site-is-live-lindypressnet.html">The
						classical book reprinting site is live! LindyPress.net</a></li>
				<li>
					<strong><a href="https://lukesmith.xyz/blog.html">See all other blog posts...</a></strong>
				</li>
			</ul>
		</div>

		<div class="column">
			<h3>Projects</h3>
			<ul id="tagcloud">
				<a href="https://lukesmith.xyz/tag/crypto.html">
					<li>Crypto</li>
				</a><a href="https://lukesmith.xyz/tag/economics.html">
					<li>Economics</li>
				</a><a href="https://lukesmith.xyz/tag/language.html">
					<li>Language</li>
				</a><a href="https://lukesmith.xyz/tag/lifestyle.html">
					<li>Lifestyle</li>
				</a><a href="https://lukesmith.xyz/tag/linux.html">
					<li>Linux</li>
				</a><a href="https://lukesmith.xyz/tag/personal.html">
					<li>Personal</li>
				</a><a href="https://lukesmith.xyz/tag/philosophy.html">
					<li>Philosophy</li>
				</a>
			</ul>
		</div>

		<h3 style="clear:both"> Get updates via RSS
		</h3>

		<pre style="max-width:300px;margin:auto;"><code>https://lukesmith.xyz/rss.xml
https://lukesmith.xyz/peertube
https://odysee.com/$/rss/@Luke/70
https://notrelated.xyz/rss</code></pre>

		<h2><a href="https://lukesmith.xyz/donate">Donate</a></h2>

		<ul>
			<li><a href="https://lukesmith.xyz/donate">Donate with a credit/debit card.</a></li>
			<li>
				BTC: (<a href="https://lukesmith.xyz/pix/btc.png">QR</a>) bc1qw5w6pxsk3aj324tmqrhhpmpfprxcfxe6qhetuv
			</li>
		</ul>
	</main>

</body>

</html>